.title{
    text-align: center;
    color: white;
}

.myCards{
    display: flex;
    justify-content: space-around;
}

.cards{
    border: 1px solid purple;
    width: 500px;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
    color: white;


}
.cards:hover{
    transform: scale(1.1);
    border: 3px solid #b415ff;
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    color: white;
    cursor: pointer;
    
    
}
.card_title{
    font-size: 30px;
    font-weight: bold;
}
.card_name{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_name:hover{
    color: white;
}