.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.hero img{
    margin-top: 110px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero_action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero_connect{
    background: linear-gradient(267deg , #df8908 -5.09%, #b415ff 100%);
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .2s;
}
.hero_connect:hover{
    border: 3px solid white;
    transform: scale(1.02);
}
.hero_resume{
    padding: 15px 55px;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid white;
    transition: .2s;
}
.hero_resume:hover{
    border-color: #b415ff;
    transform: scale(1.02);
}