.mywork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 80px 170px;
}
.mywork_title{
    position: relative;
    color: white;

}
.mywork_title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork_title img{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}
.mywork_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

}