/* index.css or App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
    background-color: #161513;

}

body {
  font-family: "Outfit", sans-serif;
  /* background-color: #161513; */
  color: white;
}

/* Optional: make sure scrollbars and overflow look clean */
#root {
  min-height: 100vh;
}
